 h1 {
     color: red;
     text-align: center;
     font-size: 70px;
     text-decoration: underline;
 }

 h2 {
     color: blue;
     text-align: center;
     font-size: 40px;
 }

 p {
     text-align: left;
     font-size: 40px;
     font-style: italic;
     color: green;
 }

#button1 {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#button1:hover {
    background-color: darkorange;
    /* font-size: 20px; */
    color: black;
}